@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html, html body {
  width: 100%;
  height: 100%; }
  html body {
    margin: 0;
    display: flex;
    flex-direction: column; }
    html body header {
      width: 100%;
      height: 1.76rem;
      line-height: 1.76rem;
      background: #148ad2;
      color: #fff;
      font-size: 0.64rem;
      text-align: center;
      position: fixed;
      top: 0; }
      html body header span:first-child {
        display: block;
        width: 0.4rem;
        height: 0.72rem;
        line-height: 0.72rem;
        position: absolute;
        top: 0.56rem;
        left: 0.48rem; }
      html body header span:last-child {
        position: absolute;
        top: 0.7rem;
        right: 1.28rem;
        font-size: 0.56rem;
        line-height: 0.56rem; }
    html body section {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto; }
      html body section > div, html body body section > div {
        width: 100%;
        height: 1.56rem;
        background: #fff; }
        html body section > div span {
          display: block;
          float: left;
          width: 50%;
          height: 100%;
          line-height: 1.56rem;
          font-size: 0.56rem;
          text-align: center;
          font-weight: normal; }
          html body section > div span:first-child {
            color: #148ad2; }
      html body section .box {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        flex: 1; }
        html body section .box > li {
          width: 100%;
          height: 4.4rem;
          padding: 0.4rem 0.48rem;
          border-top: 1px solid #e6e6e6;
          box-sizing: border-box;
          background: #f4f4f4; }
          html body section .box > li > div {
            float: left;
            height: 3.6rem; }
            html body section .box > li > div:first-child {
              width: 4.52rem; }
              html body section .box > li > div:first-child img {
                width: 4.52rem;
                height: 3.6rem; }
            html body section .box > li > div:last-child {
              width: 9.08rem;
              margin-left: 0.44rem; }
              html body section .box > li > div:last-child h1 {
                font-size: 0.6rem;
                font-weight: normal;
                margin: 0;
                line-height: 1.16rem; }
              html body section .box > li > div:last-child .tip {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-top: 0.48rem; }
                html body section .box > li > div:last-child .tip li {
                  font-size: 0.48rem;
                  color: #9f9f9f;
                  width: 4.8rem; }
                  html body section .box > li > div:last-child .tip li:last-child {
                    width: 3.6rem; }
                    html body section .box > li > div:last-child .tip li:last-child div {
                      float: left; }
                      html body section .box > li > div:last-child .tip li:last-child div:last-child {
                        margin-left: 0.56rem; }
        html body section .box .tre {
          height: 6.52rem; }
          html body section .box .tre h1 {
            font-size: 0.6rem;
            font-weight: normal;
            margin: 0; }
          html body section .box .tre .pic {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 0.2rem;
            margin-bottom: 0.44rem; }
            html body section .box .tre .pic img {
              width: 4.52rem;
              height: 3.6rem; }
          html body section .box .tre .tip2 {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between; }
            html body section .box .tre .tip2 li {
              width: 3.6rem;
              font-size: 0.48rem;
              color: #9f9f9f; }
              html body section .box .tre .tip2 li:first-child {
                width: 7rem; }
                html body section .box .tre .tip2 li:first-child div {
                  float: left; }
                  html body section .box .tre .tip2 li:first-child div:first-child {
                    margin-right: 0.62rem; }
              html body section .box .tre .tip2 li:last-child div {
                float: left; }
                html body section .box .tre .tip2 li:last-child div:last-child {
                  margin-left: 0.56rem; }

/*# sourceMappingURL=shoucang.css.map */
